.container {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.container form {
  --shadow: 0 2px 3px #a8973859;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.container input,
.container input:focus {
  border: 0;
  outline: 0;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: var(--main-color);
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 640px) {
  .container form {
    width: 32rem;
  }
}

.entryLock form,
.entryLock input:disabled {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
